.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.full-width {
  width: 90%;
}
form{
  width: 100%;
}
h1{
  font-weight: lighter;
}
app-camera{
  width: 90%;
  margin: 5%;
}
