.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1{
  font-weight: lighter;
}
p{
  text-align: center;
  margin: 15px;
}
button{
  margin: 15px;
}
