
<div class="flex">
  <h1>Hallo!</h1>
  <p>Dies ist eine beispielhafte Progressive Web App zur Erfassung von Stromzählerständen.</p>
  <p>Sieht aus wie eine native Anwendung - ist aber keine.</p>
  <p>Sie setzt folgende Eigenschaften einer PWA um:</p>
  <ul>
    <li>Auffindbar (Disoverable)</li>
    <li>Verbindungsunabhängig (Connecivity Indepentent)</li>
    <li>Sicher (Safe)</li>
    <li>Fortschreitend verbessernd (Progressive Enhancement)</li>
    <li>Anpassbar (Responsive)</li>
    <li>Installierbar (Installable)</li>
    <li>App-ähnlich (App-like)</li>
    <li>Nutzerbindend (Re-engable)</li>
    <li>Verlinkbar (Linkable)</li>
    <li>Aktuell (Fresh)</li>
  </ul>
  <button mat-flat-button color="primary" type="button" (click)="examplePush()">Beispiel Push-Benachrichtigung</button>
</div>

